# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
venv/
.env/
 __pycache__/
*.py[co]
/.pnp
.pnp.js

# testing
/coverage

# production
/build

.env/