.home-container {
  background-image: url('./images/imagen_ingenieria.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 20px;
  z-index: 1;
}


.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

.content-wrapper {
  display: flex;
  flex-direction: column; 
  max-width: 1200px;
  width: 100%;
  gap: 20px; 
}


.main-content {
  text-align: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1;
  width: 100%;
  margin-bottom: 20px;
}


.latest-posts-container {
  position: relative;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.latest-posts-container h2 {
  text-align: center; /* Centra el título */
  font-size: 1.5rem;
  margin-bottom: 15px; /* Espacio debajo del título */
  
}

.chat-window {
  max-height: 400px;
  overflow-y: scroll;
}


.chat-message {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.chat-title {
  font-size: 16px;
  font-weight: bold;
}

.chat-content {
  font-size: 14px;
  color: #555;
}


.view-more {
  text-align: right;
  margin-top: 10px;
}

.view-more a {
  color: #007bff;
  text-decoration: none;
}

.view-more a:hover {
  text-decoration: underline;
}

/* Diseño responsive */


@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .main-content {
    flex-basis: 60%;
    margin-bottom: 0px;
  }

  .latest-posts-container {
    flex-basis: 35%;
    
    
  }
}

/* Para pantallas pequeñas, pasan a formato columna */
@media (max-width: 767px) {
  .content-wrapper {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .main-content {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .latest-posts-container {
    width: 100%;
    margin-top: 130px;
  }
}
